<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Y3887821 -->
      <package
            uri="Y3887821"
            class="Y3887821.Y3887821Package"
            genModel="Y3887821.genmodel"/>
   </extension>

</plugin>
